{{#each this}}
<div class='named-flag'>
<img class='header-icon' src={{flags.svg}} alt='flag of the current country'>
<p class='named-flag-text'>{{name.official}}</p>
</div>
<p class='desc-text'>Capital: {{capital}}</p>
<p class='desc-text'>Population: {{population}}</p>
<p class='desc-text'>Languages:

{{#each languages}}
{{this}}{{#unless @last}},{{/unless}}
{{/each}}
 
{{/each}}